# nixpacks.toml

[phases.setup]
nixPkgs = ["php84", "php84Packages.composer", "nginx", "nodejs_20", "npm", "libpq"]

[phases.install]
dependsOn = ["setup"]
cmds = [
    "composer install --no-dev --optimize-autoloader --no-interaction --no-progress",
    "npm install" # Instala dependências do front-end
]

[phases.build]
dependsOn = ["install"]
cmds = [
    "npm run build", 
    # REMOVI OS COMPANDOS DE CACHE DAQUI
]

[start]
# Adicionei 'php artisan optimize' para cachear config+rotas na inicialização
cmd = "php artisan migrate --force && php artisan optimize && /assets/scripts/start-nginx-php-fpm"