# nixpacks.toml

[phases.setup]
nixPkgs = ["php84", "php84Packages.composer", "nginx", "nodejs_20", "npm", "libpq"]

[phases.install]
dependsOn = ["setup"]
cmds = [
    "composer install --no-dev --optimize-autoloader --no-interaction --no-progress",
    "npm install" # Instala dependências do front-end
]

[phases.build]
dependsOn = ["install"]
cmds = [
    "npm run build", # Compila o CSS/JS do Vite
    "php artisan config:cache",
    "php artisan route:cache",
    "php artisan view:cache"
]

[start]
# Usa o script padrão do Heroku/Railway para rodar Nginx+PHP corretamente
cmd = "php artisan migrate --force && php artisan storage:link && echo 'Starting Nginx...' && /assets/scripts/start-nginx-php-fpm"